body{background-color: rgb(245, 245, 245);
font-family: Arial, Helvetica, sans-serif;
margin-left: 20px;}

h2{margin-left: 40px;}

ul{width: 450px;
padding: none;
list-style: none;}

li{padding:none;font-size: 24px;}

span{color: red;
font-size: 12px;
margin-left: 20px;}

del{text-decoration: line-through;
background-color: rgb(226, 226, 226);}


ul li:before{content: '◻';padding: 20px;}

ul li.Done::before{content: '☑'}

li:nth-child(odd){background-color: rgb(165, 204, 218);}

li:nth-child(even){background-color: rgb(173, 216, 230);}

ul li.Done{background-color: rgb(226, 226, 226);}
